<!DOCTYPE html>
<html>
<head>
  <title>Vanstaurant</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <% if notice %> 
    <p class="notice"><%= notice %></p>
  <% end %>

  <% if alert %>
    <p class="alert"><%= alert %></p>
  <% end %>

    <% if current_user %>
      <div class="row underline medium-bottom-margin medium-bottom-padding">
        <div class="col-md-11 col-md-offset-1">
          <div class="admin-nav">
            <h3 class="inline"> <%= "Logged in as " + current_user.name.upcase %></h3>
            <%= link_to "Log Out", destroy_user_session_path, method: :delete %>
            <h2 class="pull-right no-top-margin"> <%= link_to "ADMIN", admin_path %> </h2>
          </div>
        </div>
      </div>
    <% end %>

    <%= yield %>
</body>
</html>
