<!DOCTYPE html>
<html>
<head>
  <title>Vanstaurant</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body data-no-turbolink>

  <% if notice %> 
    <p class="notice"><%= notice %></p>
  <% end %>

  <% if alert %>
    <p class="alert"><%= alert %></p>
  <% end %>

  <div class="navbar hidden-xs" style="height:80px; position:fixed; top: 0px; right: 0px; left: 0px; z-index: 2;">
  </div>

    <%= yield %>
    <%= render "pages/logout" %>
</body>
</html>
